<h1>Emotions#index</h1>

<div class="col-xs-10 col-xs-offset-1">

<%= simple_form_for @emotion do |f| %>
<%= f.input :name %>
<div class="checkbox-inline">
<%= f.check_box :is_positive, as: :boolean, checked_value: true, unchecked_value: false %>
<%= f.label :is_positive, "Is positive?".upcase %>
</div>

<br />
<br />

<%= f.submit 'Add Emotion', :class => 'btn btn-primary' %>
<% end %>
<br />

<%= simple_form_for :emotion, url: bulk_delete_emotions_path, method: :delete do |f| %>
<% @emotions.each do |emotion| %>
    <div class="checkbox-inline">
      <%= check_box_tag "emotion_ids[#{emotion.id}]", emotion.id, false, class: 'checkbox' %>
      <%= label_tag "emotion_ids[#{emotion.id}]", emotion.name.upcase %>
    </div>
  <br />
<% end %>
  <br />
<%= f.submit 'Delete', :class => 'btn btn-primary' %>
<%= link_to "Back", cup_path, :class => 'btn btn-default' %>
<% end %>
</div>
