<h1 class="text-center">View all Phrases</h1>

<% @phrases.each do |my_phrase| %>
  <div class="col-xs-10 col-xs-offset-1">
    <p><%= my_phrase.phrase %></p>
    <p><%= my_phrase.author %></p>

    <p><%= my_phrase.background %></p>
    <p><%= my_phrase.foreground %></p>
    <p><%= my_phrase.font %></p>

    <%= link_to 'Show', phrase_path(my_phrase) %>

    <% if my_phrase.user == current_user %>
    <%= link_to 'Edit', edit_phrase_path(my_phrase), :class => 'btn btn-primary' %>
    <%= link_to 'Delete', phrase_path(my_phrase),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              :class => 'btn btn-danger' %>
    <% end %>
   </div>
<% end %>
